:global(*) {
  box-sizing: border-box;
}

:global(html) {
  margin: 0;
  width: 100%;
  height: 100%;
}

:global(#root) {
  margin: 0;
  width: 100%;
  height: 100%;
}

:global(a) {
  color: #999;
  text-decoration: none;
}

:global(body) {
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: #111;
  line-height: 1.5;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    Helvetica, sans-serif;
}

:global(button:focus) {
  outline: none;
}
